public
src/vendor
src/.env
.idea

# zend studio for eclipse project files
.buildpath
.project
.settings



composer.phar


phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
src/.vagrant

src/frontend/web/index-test.php
src/backend/web/index-test.php
