public/uploads
www/src/vendor/
www/src/.env
.idea

# zend studio for eclipse project files
.buildpath
.project
.settings

www/src/composer.phar

phpunit.phar
# local phpunit config
/phpunit.xml
# vagrant runtime
www/src/.vagrant

www/src/frontend/web/index-test.php
www/src/backend/web/index-test.php