.auth {
    position: fixed;
    inset: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth .auth-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 600px;
    box-shadow: 1px 6px 22px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 6px 22px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 22px -10px rgba(0,0,0,0.75);
    animation: authModalShow;
    animation-duration: 0.5s;
}

.auth .auth-wrapper .auth-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;   
}

.auth .auth-wrapper .auth-logo img {
    width: 100%;
    max-width: 120px;
}

.auth .auth-wrapper .auth-logo + div {
    margin-top: 40px;
}

.auth .auth-wrapper form {
    padding: 0;
}

.auth .auth-wrapper form .form-group {
    position: relative;
}

.auth .auth-wrapper form .form-group + .form-group {
    margin-top: 10px;
}

.auth .auth-wrapper .icon-box {
    width: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--light-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-black-color);
}

.auth .auth-wrapper form input:not([type="checkbox"]) {
    width: 100%;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid var(--main-black-color);
    padding: 8px 20px;
    text-align: center;
}

.auth .auth-wrapper form input::placeholder {
    text-transform: uppercase;
    font-size: 14px;
}

.auth .auth-wrapper form button {
    border: 1px solid var(--main-black-color);
    margin-top: 6px;
    padding: 12px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--sidebar-color);
}

.auth .auth-wrapper form .has-error input {
    animation-name: shake, glow-red;
    animation-duration: 0.2s, 0.2s;
    animation-iteration-count: 1, 2;
    border: 1px solid var(--main-red-color);
}

.auth .auth-wrapper form .form-row:has(.has-error) .icon-box {
    color: var(--main-red-color);
    border-color: var(--main-red-color);
}

.auth .auth-wrapper form .has-error input::placeholder {
    color: var(--main-red-color);
}

.auth .auth-wrapper form .has-error input[type="text"]:focus,
.auth .auth-wrapper form .has-error input[type="password"]:focus {
    outline: 1px solid var(--main-red-color) !important;
}

.auth .auth-wrapper form input[type="text"]:focus::placeholder,
.auth .auth-wrapper form input[type="password"]:focus::placeholder {
    color: transparent;
}

.auth .auth-wrapper form .form-group .help-block {
    display: none;
    color: var(--main-red-color);
    font-weight: bold;
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    bottom: -24px;
    font-size: 14px;
    animation-name: shake, glow-red;
    animation-duration: 0.2s, 0.2s;
    animation-iteration-count: 1, 2;
}

.auth .auth-wrapper form .form-group .rememberme {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.auth .auth-wrapper form .form-group .rememberme,
.auth .auth-wrapper .auth-forgot-password {
    font-size: 14px;
    margin-top: 14px;
}
.auth .auth-wrapper .auth-forgot-password a {
    font-weight: bold;
}
