.crud-update {
    padding: 20px;
    overflow: auto;
    max-height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    overscroll-behavior: none;
}

.crud-update form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}
.crud-update form .control-label {
    font-weight: 500;
    opacity: 0.8;
    text-transform: uppercase;
}


.form-notification-line {
    padding: 8px 0 16px 0;
    border-bottom: 1px solid var(--sidebar-color);
    width: 100%;
    margin-bottom: 40px;
}
.form-notification-line .save-btn {
    padding: 8px 70px;
    background-color: var(--main-red-color);
    color: white;
}
.form-notification-line .save-btn:hover {
    opacity: 0.8;
}

