.modal-wrapper {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--main-transparent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: modalWrapperShow;
    animation-duration: 0.3s;
}
.modal-wrapper .modal {
    background-color: white;
    padding: 30px 40px;
    max-width: 440px;
    animation-name: modalShow;
    animation-duration: 0.5s;
}
.modal-wrapper .modal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.modal-wrapper .modal .modal-content .modal-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.modal-wrapper .modal .modal-content .modal-title span,
.modal-wrapper .modal .modal-content .modal-title i {
    font-size: 20px;
    font-weight: bold;
}
.modal-wrapper .modal .modal-content .modal-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.modal-wrapper .modal .modal-content .modal-buttons button {
    padding: 6px 30px;
    background-color: var(--main-red-color);
    color: white;
}
.modal-wrapper .modal .modal-content .modal-buttons button:hover {
    opacity: 0.7;
}