/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
  list-style-type: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  text-rendering: optimizeSpeed;
  font-family: 'Suisse Intl';
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #eeeeee;
  color: var(--main-black-color) !important;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
  margin: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-gray-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-gray-color);
}

select,
input[type="password"],
input[type="text"] {
  border: none;
  color: var(--main-black-color) !important;
  outline: 1px solid var(--main-gray-color);
  padding: 6px 8px;
  transition: outline 0.3s;
}

input[type="password"]:focus,
input[type="text"]:focus {
  color: var(--main-gray-color);
  outline: 1px solid var(--main-black-color) !important;
}

input[type="password"]:disabled,
input[type="text"]:disabled {
  background-color: var(--disabled-input-color);
}

input[type="checkbox"]:checked {
  accent-color:  var(--main-red-color);
}

button[type="submit"]:disabled {
  opacity: 0.6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}