:root {
    --main-red-color: #DC3545;
    --main-black-color: #222;
    --main-gray-color: #acacac;
    --main-border-color: #e7e7e7;
    --main-transparent-color: rgba(0, 0, 0, 0.7);
    --light-gray-color: #f8f8f8;
    --sidebar-color: #383F51;
    --light-blue-color:rgb(176, 184, 204);
    --light-green-color: #c8ffc6;
    --disabled-input-color: #ededed;
    --main-border-radius: 0px;
}