body {
    font-family: 'Suisse Intl', sans-serif;
    color: var(--main-font-color);
    background-color: var(--main-color);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
  }
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container {
    flex: 1;
    width: 100%;
    max-width: 1336px;
    padding: 0px var(--main-padding);
}

.open-layout {
    position: fixed;
    z-index: 2;
    inset: 0;
    right: -100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all var(--main-transition-speed) ease;
}
.open-layout.active {
    opacity: 1;
    visibility: visible;
    right: 0;
} 

.btn {
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: var(--main-orange-color);
    border-radius: var(--main-border-radius);
    transition: opacity var(--main-transition-speed);
}
.btn:hover {
    opacity: var(--main-opacity);
}
.btn-sm {
    padding: 10px 20px;
}

.btn-outline {
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: var(--main-orange-color);
    border-radius: var(--main-border-radius);
    background-color: transparent;
    border: 2px solid var(--main-orange-color);
    transition: background-color var(--main-transition-speed);
}
.btn-outline:hover {
    background-color: var(--main-orange-color);
}

.block:not(:first-child) {
    margin-top: var(--block-top-margin);   
}
.block-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
}
.block-title + div {
    margin-top: var(--block-title-margin);
}
.block-title .block-title-label {
    padding: 10px 15px;
    color: black;
    background-color: white;
    border-radius: var(--main-border-radius);
    font-weight: bold;
}
.block-title .block-title-label + h2 {
    margin-top: 40px;
}
.block-title h2 {
    font-size: var(--title-font-size);
    font-weight: bold;
}

.accordion .accordion-btn {
    cursor: pointer;
}

.accordion .accordion-content {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}

@media (max-width: 720px) {
    .btn {
        padding: 10px 20px;
    }

    .block:not(:first-child) {
        margin-top: var(--block-top-margin-md);   
    }
    .block-title + div {
        margin-top: var(--block-title-margin-md);
    }
    .block-title h2 {
        font-size: var(--title-font-size-md);
    }
    .block-title .block-title-label {
        padding: 8px 12px;
    }
    .block-title .block-title-label + h2 {
        margin-top: 24px;
    }
}