body {
    font-family: 'Suisse Intl', sans-serif;
    color: var(--main-font-color);
    background-color: var(--main-color);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
  }
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container {
    flex: 1;
    width: 100%;
    max-width: 1336px;
    padding: 0px var(--main-padding);
}

.open-layout {
    position: fixed;
    z-index: 2;
    inset: 0;
    right: -100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all var(--main-transition-speed) ease;
}
.open-layout.active {
    opacity: 1;
    visibility: visible;
    right: 0;
} 

.btn {
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: var(--main-border-radius);
    transition: background-color var(--main-transition-speed);
}
.btn:hover {
    background-color: var(--main-orange-color);
}
.btn-sm {
    padding: 10px 20px;
}

.btn-outline {
    border: 2px solid var(--main-orange-color);
}

@media (max-width: 720px) {
    .btn {
        padding: 10px 20px;
    }
}