header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    transition: all var(--main-transition-speed);
}
header.active {
    -webkit-box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.75);
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.header-inner .logo {
    position: relative;
    max-width: 160px;
    transition: opacity var(--main-transition-speed);
}
.header-inner .logo:hover {
    opacity: var(--main-opacity);
}
.header-inner .logo img {
    width: 100%;
}
.header-inner .nav .nav-reservation {
    display: none;
}
.header-inner .nav {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 40px;
    padding-right: 20px;
}
.header-inner .nav a {
    transition: color var(--main-transition-speed);
}
.header-inner .nav a:hover {
    color: var(--main-orange-color);
}
.header-inner .toggle-menu {
    position: absolute;
    z-index: 4;
    right: 20px;
    width: 40px;
    height: 24px;
    display: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: opacity var(--main-transition-speed);
}
.header-inner .toggle-menu span {
    width: 100%;
    height: 2px;
    background-color: white;
}
.header-inner .toggle-menu:hover {
    opacity: var(--main-opacity);
}



/* main */
main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

/* poster */
.poster {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.poster .poster-img {
    position: relative;
    max-width: 856px;
    border-radius: var(--main-border-radius);
    overflow: hidden;
    flex-shrink: 1;
}
.poster .poster-img img {
    width: 100%;
    object-fit: cover;
}
.poster .poster-img-info {
    position: absolute;
    bottom: 40px;
    left: 60px;
    display: flex;
    flex-direction: column;
}
.poster .poster-img-info .poster-img-info-label {
    text-transform: uppercase;
    color: black;
    border-radius: var(--main-border-radius);
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    width: fit-content;
}
.poster .poster-img-info h2 {
    letter-spacing: 2px;
    line-height: 1.3;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--title-font-size);
}
.poster .poster-tabs {
    flex: 1;
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
}
.poster .poster-tabs .tabs-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.poster .poster-tabs .tabs-nav .tabs-nav-bnt {
    flex: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 12px;
    background-color: var(--main-dimmed-color);
    border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--main-transition-speed);
}
.poster .poster-tabs .tabs-nav .tabs-nav-bnt.active {
    background-color: var(--main-dimmed-active-color);
}
.poster .poster-tabs .tabs-content {
    background-color: var(--main-dimmed-color);
    border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
    overflow: hidden;
    flex: 1;
}
.poster .poster-tabs .tabs-content .tabs-item {
    display: none;
    opacity: 0;
    visibility: hidden;
    height: 100%;
}
.poster .poster-tabs .tabs-content .tabs-item.active {
    background-color: var(--main-dimmed-active-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
    visibility: visible;
}
.poster .poster-tabs .poster-tab-content-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 26px;
    padding: 26px;
    min-width: 360px;
}
.poster .poster-tabs .poster-tab-content-cards .content-card {
    cursor: pointer;
    max-width: 180px;
    transition: var(--main-transition-speed);
}
.poster .poster-tabs .poster-tab-content-cards .content-card:hover {
    opacity: var(--main-opacity);
}
.poster .poster-tabs .poster-tab-content-cards .content-card img {
    width: 100%;
    object-fit: cover;
}


/* footer */
.bottom-contacts {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.bottom-contacts .bottom-contacts-info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--main-dimmed-active-color);
    border: 2px solid var(--main-orange-color);
    border-radius: var(--main-border-radius);
}
.bottom-contacts .bottom-contacts-info h4 {
    font-size: var(--sub-title-font-size);
    text-transform: uppercase;
    font-weight: bold;
}
.bottom-contacts .bottom-contacts-info h4 + p {
    margin-top: 20px;
}
.bottom-contacts .bottom-contacts-info div {
    max-width: 416px;
}
.bottom-contacts .bottom-contacts-info div + div {
    margin-top: 35px;
}
.bottom-contacts .bottom-contacts-info hr {
    height: 1px;
    margin: 45px 0;
    background-color: #FFFFFF;
    opacity: var(--main-opacity);
}

.bottom-contacts .bottom-contacts-map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-contacts .bottom-contacts-map iframe {
    width: 100%;
    max-height: 573px;
    border-radius: var(--main-border-radius);
    object-fit: contain;
}

footer {
    margin-top: var(--footer-top-margin);
    margin-bottom: 25px;
}
footer hr {
    height: 1px;
    background-color: #FFFFFF;
    opacity: var(--main-opacity);
}
footer hr + div {
    margin-top: 30px;
}
footer .footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
footer .footer-info * {
    opacity: var(--main-opacity);
}

/* kitchen */
.kitchen {
    position: relative;
    z-index: 1;
}
.kitchen .tns-outer {
    margin: 0 50px;
}
.kitchen .tns-outer .tns-item {
    padding: 0 60px;
}
.kitchen-slider {
}
.kitchen .kitchen-items {

}
.kitchen .kitchen-items .kitchen-item {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    transition: opacity var(--main-transition-speed);
}
.kitchen .kitchen-items .kitchen-item:hover {
    opacity: var(--main-opacity);
}
.kitchen .kitchen-items .kitchen-item:not(:first-child) {
    margin-top: 50px;
}
.kitchen .kitchen-items .kitchen-item .kitchen-item-image {
    max-width: 110px;
    border-radius: var(--main-border-radius);
    overflow: hidden;
}
.kitchen .kitchen-items .kitchen-item .kitchen-item-image img {
    width: 100%;
}
.kitchen .kitchen-items .kitchen-item .kitchen-item-info {
    position: relative;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 16px;
}
.kitchen .kitchen-items .kitchen-item .kitchen-item-info .kitchen-item-info-name {
    text-transform: uppercase;
    font-weight: bold;
}
.kitchen .kitchen-items .kitchen-item .kitchen-item-info .kitchen-item-info-portion {
    color: var(--main-orange-color);
    font-weight: bold;
}
.kitchen .kitchen-items .kitchen-item .kitchen-item-info .kitchen-item-info-description {
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.kitchen .kitchen-items .kitchen-item .kitchen-item-info .kitchen-item-info-price {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 2px solid var(--main-orange-color);
    border-radius: var(--main-border-radius);
}
#kitchen-slider-controls {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#kitchen-slider-controls .controls-prev,
#kitchen-slider-controls .controls-next {
    cursor: pointer;
    background-color: var(--main-orange-color);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: var(--main-border-radius);
    transition: opacity var(--main-transition-speed);
}
#kitchen-slider-controls .controls-prev:hover,
#kitchen-slider-controls .controls-next:hover {
    opacity: var(--main-opacity);
}
.kitchen-menu-button {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    max-width: fit-content;
    text-align: center;
    font-weight: bold;
}


/* events-and-tourists */
.events-and-tourists {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 44px;
}
.events-and-tourists .events-and-tourists-divide-image {
    max-width: 416px;
    border-radius: var(--main-border-radius);
    overflow: hidden;
}
.events-and-tourists .events-and-tourists-divide-image img {
    width: 100%;
}
.events-and-tourists .events-and-tourists-info {
    text-align: center;
    max-width: 376px;
    margin-top: 35px;
}
.events-and-tourists .events-and-tourists-info .events-and-tourists-info-text p {
    line-height: 1.3;
}
.events-and-tourists .events-and-tourists-info .events-and-tourists-info-text p + p {
    margin-top: 30px;
}
.events-and-tourists .events-and-tourists-info .events-and-tourists-info-text + a {
    display: block;
    max-width: 170px;
    margin: 0 auto;
    margin-top: 55px;
    font-weight: bold;
}


/* party */
.party {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 130px;
}
.party .accordion .accordion-btn {
    background-color: var(--main-dimmed-color);
    border-radius: var(--main-border-radius);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 260px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--sub-title-font-size);
    transition: all var(--main-transition-speed) ease-in;
}
.party .accordion .accordion-btn.active {
    background-color: var(--main-orange-color);
    border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}
.party .accordion .accordion-btn i {
    font-weight: bold;
    font-size: 24px;
    transition: transform var(--main-transition-speed);
}
.party .accordion .accordion-btn.active i {
    transform: rotate(-180deg);
}
.party .accordion .accordion-btn:not(:first-child) {
    margin-top: 20px;
}
.party .accordion .accordion-content {
    border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
}
.party .accordion .accordion-content li {
    padding: 10px 40px;
    background-color: var(--main-orange-color);
}
.party .accordion .accordion-content li:last-child {
    padding-bottom: 25px;
}
.party-people-guests {
    display: flex;
    flex-direction: column;
}
.party-people-guests .party-people-guests-title {
    font-size: var(--title-font-size-md);
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    max-width: 360px;
    font-weight: bold;
    line-height: 1.3;
}
.party-people-guests .party-people-guests-cards {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.party-people-guests .party-people-guests-cards .party-people-guests-card .party-people-guests-card-image {
    max-width: 196px;
    border-radius: var(--main-border-radius);
    overflow: hidden;
}
.party-people-guests .party-people-guests-cards .party-people-guests-card .party-people-guests-card-image img {
    width: 100%;   
}
.party-people-guests .party-people-guests-cards .party-people-guests-card .party-people-guests-card-name {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    text-align:center;
    width: min-content;
    white-space: break-space;
    margin-left: auto;
    margin-right: auto;
}
.party-people-guests .party-people-guests-cards .party-people-guests-card .party-people-guests-card-social {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.party-people-guests .party-people-guests-cards .party-people-guests-card .party-people-guests-card-social div {
    cursor: pointer;
    padding: 10px;
    border: 2px solid var(--main-orange-color);
    border-radius: var(--main-border-radius);
    transition: background-color var(--main-transition-speed);
}
.party-people-guests .party-people-guests-cards .party-people-guests-card .party-people-guests-card-social div:hover {
    background-color: var(--main-orange-color);    
}