:root {
    --main-color: #210E09;
    --main-dimmed-color: #2a120a;
    --main-dimmed-active-color: #33160b;

    --main-orange-color: #D5621D;
    --main-font-color: white;
    
    --main-font-size: 14px;
    --title-font-size: 40px;
    --title-font-size-md: 28px;
    --title-font-size-sm: 20px;
    --font-size-md: 18px;
    --main-border-radius: 5px;
    --main-padding: 20px;
    --main-transition-speed: 0.3s;
    --main-opacity: 0.7;

    --container-top-margin-xl: 120px;
    --container-top-margin-lg: 90px;
    --container-top-margin-md: 90px;
    --container-top-margin-sm: 60px;
    --container-top-margin-xs: 60px;

    --breakpoint-xl: 1120px;
    --breakpoint-lg: 991px;
    --breakpoint-md: 720px;
    --breakpoint-sm: 480px;
    --breakpoint-xs: 360px;
}